<div class='set-list'>
  <%= sets.each_slice(3) do |sets_row| %>
    <div class='moduleContainer threeCol'>
      <% sets_row.each do |set, i| %>
        <%= render partial: 'source_sets/set_tile',
                   locals: { set: set, render_tags: true, filters: filters } %>
      <% end %>
    </div>
  <% end %>
</div>
