<% if @source_set.sources.present? %>
  <div class='source-list-container'>
    <% @source_set.sources.each_slice(3) do |sources_row| %>
      <div class='moduleContainer threeCol'>
        <% sources_row.each_with_index do |source, i| %>
          <%= render partial: 'sources/source_tile',
                     locals: { source: source } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
