<% content_for :head_script do %>
  <%= javascript_include_tag 'form', defer: 'defer' %>
<% end %>

<h1>Edit set</h1>

<p>
  <%= link_to "View", source_set_path(@source_set) %>
  |
  <%= link_to "Delete", source_set_path(@source_set),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this set?" } %>
</p>
 
<%= render "form" %>
