<h1>Edit set</h1>

<p><%= link_to "Back to sets", source_sets_path %></p>
<p><%= link_to "Delete this set", source_set_path(@source_set),
            method: :delete,
            data: { confirm: "Are you sure you want to delete #{@source_set.name}?" } %></p>
 
<%= render "form" %>
