<h1>Audios</h1>

<p><%= link_to "Create new audio", new_audio_path %></p>

<table>
<% @audios.each do |audio| %>
  <tr>
    <td><%= audio.file_base %></td>
    <td><%= link_to "View", audio_path(audio) %></td>
    <td><%= link_to "Delete", audio_path(audio),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete #{audio.file_base}?" } %></td>
  </tr>
<% end %>
</table>
