<article class='document'>
  <div class='media-outer-container'>
    <div class='media-inner-container'>
      <iframe src="https://docs.google.com/viewer?url=<%= 'https:' + base_src + @source.main_asset.file_name %>&embedded=true" frameborder="0"></iframe>
    </div>
  </div>
</article>
