<% content_for :head_script do %>
<% javascript_include_tag 'openseadragon', defer: 'defer' %>
<% end %>

<article class='image'>
  <div class='media-outer-container image'>
    <div class='media-inner-container'>

      <div id="osd-viewer" oncontextmenu="return false;"></div>
      <p id="image-caption"><%= html_escape_once(@source.main_asset.alt_text) %></p>

      <%= raw image_viewer(base_src + @source.main_asset.file_name) %>

    </div>
  </div>
</article>
