<section class='module source-tile'>
  <div class='source-container'>
    <div class='thumbnail-container'>
      <span class='align-helper'></span>
      <%= render_thumbnail(source) %>
    </div>
    <div class='source-name-container'>
      <%= link_to inline_markdown(source.display_name),
                  source_path(source) %>
    </div>
  </div>
</section>
