<% content_for :head_script do %>
  <%= javascript_include_tag 'form', defer: 'defer' %>
<% end %>

<p><%= link_to "Back to set", source_set_path(@source_set) %></p>

<h1>New source for <%= inline_markdown(@source_set.name) %></h1>

<%= render "form" %>
