<h1>Posters</h1>

<p>Posters are static image representations of sets and guides.  They can be used for marketing.</p>

<h2>Source sets</h2>
<% if @source_sets.present? %>
  <ul>
    <% @source_sets.each do |source_set| %>
      <li>
        <%= link_to inline_markdown(source_set.name), poster_path(source_set, type: 'set') %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no set posters.</p>
<% end %>

<h2>Guides</h2>
<% if @guides.present? %>
  <ul>
    <% @guides.each do |guide| %>
      <li>
        <%= link_to inline_markdown(guide.name), poster_path(guide, type: 'guide') %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no guide posters.</p>
<% end %>
