<h1>Admins</h1>

<p><%= link_to "Create new admin", new_registration_path %></p>

<table>
<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.email %></td>
    <td><%= link_to "Edit", edit_registration_path(admin) %></td>
    <td><%= link_to "Delete", registration_path(admin),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete #{admin.email}?" } %></td>
  </tr>
<% end %>
</table>
