<% content_for :head_script do %>

  <script>
      var pss_create_asset_path = '<%= source_videos_path() %>';
      var pss_asset_type = 'video';
  </script>

<% end %>

<h1>New video</h1>

<p>This video will belong to <%= link_to inline_markdown(source_name(@source)), source_path(@source) %>

<%= render "shared/s3form" %>

<%= javascript_include_tag 'upload' %>
