<ul class='jump-links'>
  <li><a href='#top-nav' accesskey='1'>Go to top navigation</a></li>
  <li><a href='#main-nav' accesskey='2'>Go to main navigation</a></li>
  <li><a href='#searchBox' accesskey='3'>Go to search form</a></li>
  <li><a href='#content' accesskey='4'>Go to main content</a></li>
  <li><a href='#social' accesskey='5'>Go to social media navigation</a></li>
</ul>
