<%= s3_form @formdef, class: 'upload' do %>

  <%= file_field_tag :file,
                     accept: @accepted_types %>
  <%= submit_tag 'Upload', class: 'form-submit' %>

<% end %>

<div id="upload-progress" style="display: none;"></div>
