<ul class='shareSave'>
  <li class='btn share'>
    <a href=''>Share</a>
    <ul>
      <li>
        <div class='sharebtn'>
          <div id='fb-root'></div>
          <div class='fb-like' data-layout='button_count' data-send='false'
               data-show-faces='false' data-width='450'></div>
        </div>
      </li>
      <li>
        <div class='sharebtn'>
          <a class='twitter-share-button' href='<%= twitter_web_intent %>'>
            Tweet
          </a>
        </div>
      </li>
      <li>
        <div class='sharebtn'>
          <div class='g-plusone' datasize='medium'></div>
        </div>
      </li>
    </ul>
  </li>
</ul>
