<ul class='shareSave'>
  <li class='btn share'>
    <a href=''>Share</a>
    <ul>
      <li>
        <div class='sharebtn'>
          <div id='fb-root'></div>
          <div class='fb-like' data-layout='button_count' data-send='false'
               data-show-faces='false' data-width='450'></div>
        </div>
      </li>
      <li>
        <div class='sharebtn'>
          <a class='twitter-share-button' href='https://twitter.com/share'>
            Tweet
          </a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          </script>
        </div>
      </li>
      <li>
        <div class='sharebtn'>
          <div class='g-plusone' datasize='medium'></div>
        </div>
      </li>
    </ul>
  </li>
</ul>
