<% icons = Settings.widgets.social_icons %>
<ul class='social icons' id='social'>
  <li class='facebook'>
    <%= link_to icons.facebook do %>
      <span class='icon-facebook' aria-hidden='true'></span>
      <span class='visuallyhidden'>Facebook</span>
    <% end %>
  </li>
  <li class='twitter'>
    <%= link_to icons.twitter do %>
      <span class='icon-twitter' aria-hidden='true'></span>
      <span class='visuallyhidden'>Twitter</span>
    <% end %>
  </li>
  <li class='RSS'>
    <%= link_to icons.rss do %>
      <span class='icon-rss' aria-hidden='true'></span>
      <span class='visuallyhidden'>RSS</span>
    <% end %>
  </li>
  <li class='tumblr'>
    <%= link_to icons.tumblr do %>
      <span class='icon-tumblr' aria-hidden='true'></span>
      <span class='visuallyhidden'>Tumblr</span>
    <% end %>
  </li>
</ul>
