<% content_for :head_script do %>
  <%= javascript_include_tag 'form', defer: 'defer' %>
<% end %>

<p><%= link_to "Back to vocabularies", vocabularies_path %></p>

<h1>New vocabulary</h1>

<%= render "form" %>
