<% content_for :foot_script do %>
  <%= javascript_include_tag 'form' %>
<% end %>

<p><%= link_to "Back to set", source_set_path(@source_set) %></p>

<h1>New teaching guide for <%= inline_markdown(@source_set.name) %></h1>

<%= render "form" %>
